header {
    text-align: center;
    background-color: rgb(42, 116, 165);
    width: 99.5%;
    border: 5px solid black;
}

main {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgba(42, 116, 165, 0.829);
    width: 99.5%;

}

body {
    background-image: url('/assests/imagenes/messi.jpg');
}

h1 {
    color: #2F3D88;

}

p {
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-size: 2em;
}

td {
    color: white;
    border: 2px solid rgb(70, 141, 189);
    text-align: center;
}

a {
    color: white;
}

footer {
    text-align: center;
    background-color: rgb(42, 116, 165);
    width: 99.5%;
    border: 5px solid rgb(0, 0, 0);
}
 main, footer{
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
